:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('src/assets/background.svg');
  background-size: 809px;
  background-position: center;
  background-repeat: repeat;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
} */
